
      <div class="modal-content">
        <div class="avatar">
          <img class="responsive" alt="nature"src="../../../../assets/download (1).jpeg">
          
        </div>
        <div class="modal-body">
            <form action="/action_page.php">
                <h1 class="text-center">Lindo Mashoto</h1>
                <p class="text-center">lindomashoto@gmail.com</p>

                
                <p class="tag mt-3 mb-3 text-center"><a routerLink='/login'>Sign out</a></p>
              </form>
        </div>
      </div>
   
