

.cards .btn{
    
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'Sansita';
    position: absolute;

}

role:active{
    background-color: yellowgreen;
}

// .head {
//     width: 1192px;
//     height: 104px;
   

// font-family: 'Inter';
// font-style: normal;
// font-weight: 600px;
// font-size: 15px;
// line-height: 16px;
// }

.cards{
    background-color: #B7BBC2; 
    width: 334px ; 
    height: 120px; 
    text-decoration-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.cardz{
    background-color: #29A9AF; width: 334px ; height: 120px; 
}

@media (max-width: 480px) {
    .cards {
        background-color: #B7BBC2; 
        width: 100px ; 
        height: 60px; 
        text-decoration-color: white;

        .btn{
            font-size: 16px;
        }
        .btnColor{
            background-color: #29A9AF; 
        width: 100px ; 
        height: 60px; 
        text-decoration-color: white; 
        }
        .btnColorSecond{
            background-color: #B7BBC2; 
        width: 100px ; 
        height: 60px; 
        text-decoration-color: white; 
        }
        
    }
    // .cardz{
    //     background-color: #29A9AF; width: 100px ; height: 60px; 
    //     text-decoration-color: white;
    //     font-size: 1rem;
    // }

    // .table{
    //     overflow-x:auto;
    //     min-width: 100px;
    // }
  }

  .buttons{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 334px ; height: 120px; 
  }
  .green {
    background-color: #29A9AF; 
    
  }

  .grey {
    background-color: #B7BBC2;
  }
 #join{
     background-color: #29A9AF;
     transform: translateX(-3rem);
 }
 #decline{
     transform: translateX(-5rem);
 }

 @media (max-width: 480px){
    #join{
        background-color: #29A9AF;
        transform: translateX(0rem);
        margin-bottom: 1rem;
    }
    #decline{
        transform: translateX(0rem);
    }
   
 }
  