.btn{
    
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'Sansita';
    position: absolute;

}

.head {
    width: 1192px;
    height: 104px;
   

font-family: 'Inter';
font-style: normal;
font-weight: 600px;
font-size: 15px;
line-height: 16px;
}

// .cardd {
//     width: 334px ; 
//     height: 120px;
// }

// @media (max-width: 480px) {
//     .cardd{
//         width: 150px ;
//         height: 60px;
//     }
// }