 
  


  
<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row dflex align-items-center justify-content-evenly">
      <div class="cards col col-3">
        <a class="btn" href="#" role="button">Bookings</a>
      </div>
      <div class="cards col col-3 ">
        <a class="btn" href="#" role="button">Streams</a>
      </div>
      <div class="cards col col-3">
        <a class="btn"  href="#" role="button">History</a>
      </div>
    </div>
</div>
<br>
<br>
<div class="container mt-3 overflow-scroll w-60">
           
    <table class="table table-striped">
      <thead class="head" style="background-color: #F4F7FC;  overflow-y: scroll;">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{booking.name}} {{booking.lastname}}</td>
          <td>{{booking.date_}}</td>
          <td>{{booking.time_}}</td>
          <td><button class="btn btn-outline-danger">decline</button> &nbsp; <button class="btn bg-info text-light">accept</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>

  


