
<app-navbar></app-navbar>

<div class="container-flui" >
   
        <div class="row align-items-center my-5 " id="loginContainer">
        <div class="col col-sm-12 col-lg-6 ">
            
            <h1 class="display-3 ">Find the perfect <span class="intSpam"><i><b>Interpreter</b></i></span> Service for you</h1>
        </div>
        <div class="col col-12 col-lg-6 border-start mt-2">
          <h1><strong></strong></h1>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>