@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');


// @media(min-width: 1025px) {
  .btn{
    background-color: #29A9AF;
    margin-left: 1rem;
    width: 140px;
    margin: auto;
  }
  
// }


@media screen and (max-width: 540px) {
  .btn {
      width: 150px;
      background-color: #29A9AF;
  }
}

  // .btn{
  //   @media (min-width: 450px){
  //     .btn{
  //       margin-left: 1rem;
  //     }
      
  //   }
  //   background-color: #29A9AF;
  //   margin-left: 1rem;
  // }
.navbar{
  background-color: #E3E0E0;
  
}
.card{
  background-color: #E3E0E0;
}

.container
{
  margin-top: 2.8cm;
}
.avatar{
  transform: scale(0.75);
  //clip-path: circle();
}
h1,button{
  font-family: Sansita;
}
.checked{
  color: orange;
}

.led-red-on {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  transform: translateX(8rem)
}
.led-green {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  transform: translateX(8rem)
}
@media screen and (max-width: 540px) {
  .led-green {
    transform: translateX(10rem) 
  }
}
@media screen and (max-width: 540px) {
  .led-red-on{
    transform: translateX(10rem) 
  }
}

// ------



.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #E3E0E0;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px 0 #29A9AF;
  border-radius: 8px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #29A9AF;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #29A9AF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px  #4e5052;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #29A9AF;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #29A9AF;
  background-color: #f7f5ec;
}
