<div class="container">
    <div class="row align-items-start">
      <div class="cardd col col-4">
    <a class="btn" style="background-color: #29A9AF; width: 334px ; height: 120px;" href="#" role="button">Bookings</a>
      </div>
      <div class="cardd col col-4 ">
        <a class="btn" style="background-color: #B7BBC2; width: 334px ; height: 120px; text-decoration-color: white;" href="#" role="button">Streams</a>
      </div>
      <div class="cardd col col-4">
        <a class="btn" style="background-color: #B7BBC2; width: 334px ; height: 120px; text-decoration-color: white;" href="#" role="button">History</a>
      </div>
    </div>
</div>

<div class="container mt-3 overflow-scroll w-60">
           
  <table class="table table-striped">
    <thead class="head" style="background-color: #F4F7FC;  overflow-y: scroll;">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      
    </tbody>
  </table>
</div>

