@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

.btn{
  background-color: #29A9AF;
  
}
.navbar{
  background-color: #E3E0E0;
}
.card{
  background-color: #E3E0E0;
}

.avatar{
  transform: scale(0.75);
  //clip-path: circle();
}
h1,button{
  font-family: Sansita;
}