<div class="container-fluid room-comm" >
        <div class="row">
                <video #myVideo id="local" class="local-video mirror-mode" volume='0' style='z-index:1002' autoplay muted></video>
        </div>
                
        <div class="row">
                <div class="col-md-12 main" id='main-section' style="height: 20vh; height: 20vh;">                    
                        <div class="row mt-2 mb-2" id='videos'>
                                ,mbuchghvkjbhj
                        </div>
                </div>
        </div>
</div>