
  <div class="row  " id="loginContainer">
      <div class="header">
        <h3 style="position: center;">Video Chat</h3>
      </div>
      <div class="col col-sm-12 col-lg-6 ">
        <div class="" id="local-container">

          <video #localVideo autoplay playsinline></video>
    
        </div>
    
      </div>
      <div class="col col-12 col-lg-6 border-start">
          
        <div class="" id="remote-container">

        </div>
      </div>

      <div class="options">
        <div class="options__left">
          <div id="stopVideo" class="options__button">
            <i class="fa fa-video-camera" (click)="dropVideo()"></i>
          </div>
          <div id="muteButton" class="options__button">
            <i class="fa fa-microphone" (click)="muteVideo()"></i>
          </div>
          <div id="muteButton" class="options__button">
            <i class="fa fa-viadeo" (click)="turnOffScreen()"></i>
          </div>
        </div>
      </div>
  </div>
  

