// .main{
//     padding-top: 40px;
// }
.remote-video{
    width:100%;
    background-color: red;
    height:90vh;
    max-height: 90vh;
    position: relative
}

.remote-video-controls{
    position:absolute;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:1;
    padding: 10px;
    width: 100%;
    text-align: center;
   
}


.remote-video:hover + .remote-video-controls,
.remote-video-controls:hover{
    visibility: visible;
}


.local-video{
    bottom: 0;
    left: 0;
    position: fixed;
    width:15vw;
    
}


.mirror-mode{
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.btn-no-effect:focus{
    box-shadow: none;
}

.very-small{
    font-size: 6px !important;
}


#close-single-peer-btn {
    position: fixed;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    border-radius: 0%;
    z-index: 100;
}


.pointer{
    cursor: pointer;
}



#app {
    text-align: center;
}

.container {
    position: fixed;
    overflow: hidden;
}

.over {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 36rem;
    bottom: 0;
    left: 60rem;
    z-index: 2;
    opacity: 0.9;

    .fa{
        -ms-transform: rotate(137deg); 
        transform: rotate(137deg);
        position: absolute;
        transform: translateX(-17rem);
      }

    //   input#un-mute {
    //     display: none;
    //   }
      
    //   .unmute img {
    //     display: none;
    //   }
      
    //   input#un-mute:checked ~ .unmute img {
    //     display: initial;
    //   }
      
    //   input#un-mute:checked ~ .mute img {
    //     display: none;
    //   }
}

.over video {
    width: 200px;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


@media only screen and (max-width:767px){
  
    .local-video{
        width:40vw;
    }
}

.fullscreen video {
    width: 100vw;
    height: 80vh;
}



@media screen and (max-width:540px){
    
    .local-video{
        
    }

    .over {
        height: 100%;
    }
    
  }