
<div class="container-fluid mx-auto">

    <div class="row wrapper ps-1">
        <div class="col right">
            <app-profile-card></app-profile-card>
            <app-infor-cards></app-infor-cards>
            <div class="text-center mt-5">
            <button type="button" class="btn p-2 ps-5 px-5 text-light" id="proceed" ><a routerlink='/booking'>Proceed</a></button>
            </div>

            <!-- <div class="projects">
              <h3>packages</h3>
              <div class="row projects_data">
                   <div class="col data">
                      <h4>basic</h4>
                      <p>Lorem ipsum dolor sit amet.</p>
                   </div>
                   <div class="col data">
                     <h4>standard</h4>
                      <p>dolor sit amet.</p>
                   </div>
                   <div class="col data">
                    <h4>premium</h4>
                     <p>dolor sit amet.</p>
                  </div>
              </div>
        </div> -->
        </div>
    </div>

</div>